<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="close()" aria-label="Close user settings">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-avatar class="user-img">
        <img [src]="user?.photoURL" alt="User photo, or first initial placeholder">
      </ion-avatar>
    </ion-card-header>
    
    <ion-card-content>
      <h1 type="text">{{ user?.displayName }}</h1>
      <h4 type="email">{{ user?.email }}</h4>
      <br>
      <ion-checkbox [(ngModel)]="settings.seeName" (ngModelChange)="saveSettings()" labelPlacement="end">
        <ion-label>Add my name and photo to the directory</ion-label>
      </ion-checkbox><br>
      <ion-checkbox [disabled]="!settings.seeName" [(ngModel)]="settings.allowInvites" (ngModelChange)="saveSettings()" labelPlacement="end"
        class="ion-margin-start">Allow event invitations</ion-checkbox><br>
      <ion-checkbox [disabled]="!settings.seeName" [(ngModel)]="settings.allowChat" (ngModelChange)="saveSettings()" labelPlacement="end"
        class="ion-margin-start">Allow chat messages</ion-checkbox><br>
      <ion-checkbox [disabled]="!settings.seeName" [(ngModel)]="settings.allowPhotoTags" (ngModelChange)="saveSettings()" labelPlacement="end" 
        class="ion-margin-start">Allow photo tags</ion-checkbox><br>
    </ion-card-content>
  </ion-card>

  <ion-button color="light" expand="block" (click)="logout()" class="ion-margin">Logout</ion-button>

</ion-content>